*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:Arial,Helvetica,sans-serif;
    background:#020712;
}

body{

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;

    color:white;

    background:
    radial-gradient(circle at center,#10345f 0%,#061321 35%,#020712 70%,#000000 100%);
}

/* Animated Grid */

.background-grid{

    position:fixed;
    inset:0;

    background-image:

    linear-gradient(rgba(0,255,255,.08) 1px,transparent 1px),

    linear-gradient(90deg,rgba(0,255,255,.08) 1px,transparent 1px);

    background-size:45px 45px;

    animation:gridMove 15s linear infinite;

    opacity:.5;

}

/* Blue Glow */

.overlay{

    position:fixed;
    inset:0;

    background:

    radial-gradient(circle,#00c8ff22 0%,transparent 45%),

    radial-gradient(circle at top,#008cff33 0%,transparent 35%),

    radial-gradient(circle at bottom,#0055ff22 0%,transparent 30%);

}

/* Main */

.main-container{

    position:relative;

    z-index:10;

    width:100%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

/* Logo */

.jarvis-logo{

    font-size:58px;

    letter-spacing:12px;

    color:#00e5ff;

    text-shadow:

    0 0 8px #00e5ff,

    0 0 25px #00b7ff,

    0 0 60px #0077ff;

    margin-bottom:45px;

}

/* Animation */

@keyframes gridMove{

from{

background-position:0 0;

}

to{

background-position:45px 45px;

}

}
