*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
font-family:Arial,Helvetica,sans-serif;

background:
radial-gradient(circle at top,#123d68 0%,#071726 40%,#02070f 100%);
color:white;
}

/* Grid */

body::before{
content:"";
position:fixed;
inset:0;

background-image:
linear-gradient(rgba(0,180,255,.07) 1px,transparent 1px),
linear-gradient(90deg,rgba(0,180,255,.07) 1px,transparent 1px);

background-size:50px 50px;
opacity:.45;
pointer-events:none;
}

/* Soft Glow */

body::after{
content:"";
position:fixed;
width:700px;
height:700px;
left:50%;
top:50%;
transform:translate(-50%,-50%);
background:radial-gradient(circle,#00cfff22,transparent 70%);
filter:blur(40px);
pointer-events:none;
}

.main-container{
position:relative;
z-index:2;
width:480px;
padding:45px;
text-align:center;

background:rgba(255,255,255,.03);

border:1px solid rgba(0,220,255,.25);

backdrop-filter:blur(14px);

box-shadow:
0 0 50px rgba(0,180,255,.18),
inset 0 0 30px rgba(0,180,255,.05);
}

.jarvis-logo{

font-size:56px;
letter-spacing:10px;
margin-bottom:40px;

color:#00d9ff;

text-shadow:
0 0 12px #00d9ff,
0 0 40px #0099ff;
}

h2{

font-size:36px;
margin-bottom:10px;
}

p{

color:#b7d7e8;
margin-bottom:30px;
}

input{

width:100%;
padding:14px;
margin-bottom:15px;

background:rgba(255,255,255,.05);

border:1px solid #00cfff;

color:white;

outline:none;
}

button{

width:100%;
padding:14px;

background:#00cfff;

border:none;

font-weight:bold;

cursor:pointer;
}

.status{

margin-top:20px;

color:#88dfff;
}
